In [99]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [100]:
#read the loan file and explore the date
loan =pd.read_csv('https://raw.githubusercontent.com/ganeshbabuNN/lendingCludCaseStudy/master/loan.csv')
loan_df=loan #create a new dt

/Users/ganeshbabug/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [101]:
#printing the shape of the dataframe
loan.shape

(39717, 111)

In [104]:
#display the top 5 row
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [103]:
#display the tail 5 row
loan.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Cleaning

In [105]:
#pd.options.display.max_info_columns #global options for the maximum column info
#check the details of the data like columns names, toatal number of non-null values and data type of each of the columns
loan.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  int64
 1    member_id                       39717 non-null  int64
 2    loan_amnt                       39717 non-null  int64
 3    funded_amnt                     39717 non-null  int64
 4    funded_amnt_inv                 39717 non-null  float64
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  float64
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  float64
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26777 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  float64
 25   delinq_2yrs                     39717 non-null  int64
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  int64
 28   mths_since_last_delinq          14035 non-null  float64
 29   mths_since_last_record          2786 non-null   float64
 30   open_acc                        39717 non-null  int64
 31   pub_rec                         39717 non-null  int64
 32   revol_bal                       39717 non-null  int64
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  int64
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  float64
 37   out_prncp_inv                   39717 non-null  float64
 38   total_pymnt                     39717 non-null  float64
 39   total_pymnt_inv                 39717 non-null  float64
 40   total_rec_prncp                 39717 non-null  float64
 41   total_rec_int                   39717 non-null  float64
 42   total_rec_late_fee              39717 non-null  float64
 43   recoveries                      39717 non-null  float64
 44   collection_recovery_fee         39717 non-null  float64
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  float64
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  float64
 50   mths_since_last_major_derog     0 non-null      float64
 51   policy_code                     39717 non-null  int64
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      float64
 54   dti_joint                       0 non-null      float64
 55   verification_status_joint       0 non-null      float64
 56   acc_now_delinq                  39717 non-null  int64
 57   tot_coll_amt                    0 non-null      float64
 58   tot_cur_bal                     0 non-null      float64
 59   open_acc_6m                     0 non-null      float64
 60   open_il_6m                      0 non-null      float64
 61   open_il_12m                     0 non-null      float64
 62   open_il_24m                     0 non-null      float64
 63   mths_since_rcnt_il              0 non-null      float64
 64   total_bal_il                    0 non-null      float64
 65   il_util                         0 non-null      float64
 66   open_rv_12m                     0 non-null      float64
 67   open_rv_24m                     0 non-null      float64
 68   max_bal_bc                      0 non-null      float64
 69   all_util                        0 non-null      float64
 70   total_rev_hi_lim                0 non-null      float64
 71   inq_fi                          0 non-null      float64
 72   total_cu_tl                     0 non-null      float64
 73   inq_last_12m                    0 non-null      float64
 74   acc_open_past_24mths            0 non-null      float64
 75   avg_cur_bal                     0 non-null      float64
 76   bc_open_to_buy                  0 non-null      float64
 77   bc_util                         0 non-null      float64
 78   chargeoff_within_12_mths        39661 non-null  float64
 79   delinq_amnt                     39717 non-null  int64
 80   mo_sin_old_il_acct              0 non-null      float64
 81   mo_sin_old_rev_tl_op            0 non-null      float64
 82   mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83   mo_sin_rcnt_tl                  0 non-null      float64
 84   mort_acc                        0 non-null      float64
 85   mths_since_recent_bc            0 non-null      float64
 86   mths_since_recent_bc_dlq        0 non-null      float64
 87   mths_since_recent_inq           0 non-null      float64
 88   mths_since_recent_revol_delinq  0 non-null      float64
 89   num_accts_ever_120_pd           0 non-null      float64
 90   num_actv_bc_tl                  0 non-null      float64
 91   num_actv_rev_tl                 0 non-null      float64
 92   num_bc_sats                     0 non-null      float64
 93   num_bc_tl                       0 non-null      float64
 94   num_il_tl                       0 non-null      float64
 95   num_op_rev_tl                   0 non-null      float64
 96   num_rev_accts                   0 non-null      float64
 97   num_rev_tl_bal_gt_0             0 non-null      float64
 98   num_sats                        0 non-null      float64
 99   num_tl_120dpd_2m                0 non-null      float64
 100  num_tl_30dpd                    0 non-null      float64
 101  num_tl_90g_dpd_24m              0 non-null      float64
 102  num_tl_op_past_12m              0 non-null      float64
 103  pct_tl_nvr_dlq                  0 non-null      float64
 104  percent_bc_gt_75                0 non-null      float64
 105  pub_rec_bankruptcies            39020 non-null  float64
 106  tax_liens                       39678 non-null  float64
 107  tot_hi_cred_lim                 0 non-null      float64
 108  total_bal_ex_mort               0 non-null      float64
 109  total_bc_limit                  0 non-null      float64
 110  total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

<ipython-input-105-cb667bfaf906>:3: FutureWarning: null_counts is deprecated. Use show_counts instead
  loan.info(verbose=True,null_counts=True)

In [28]:
loan.shape

(39717, 111)

In [29]:
#options to set the maximum rows.
pd.set_option('max_rows',1111)
loan.dtypes

id                                  int64
member_id                           int64
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                         int64
earliest_cr_line                   object
inq_last_6mths                      int64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                            int64
pub_rec                             int64
revol_bal                           int64
revol_util                         object
total_acc                           int64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
recoveries                        float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                         int64
application_type                   object
annual_inc_joint                  float64
dti_joint                         float64
verification_status_joint         float64
acc_now_delinq                      int64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_6m                        float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                         int64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
dtype: object

In [98]:
#important factor variable
#loan_amt, term, interest_rate , Grade, subgrade,annual income , purpose of loan, DTI (debt to income),
#emp_length,loan_date(month)
loan[['term']]
loan[['int_rate']]
loan[['grade']]
loan['sub_grade'].unique()
loan['grade'].unique()
loan['purpose']
loan['dti']
loan['emp_length'].unique()
loan['issue_d'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07'], dtype=object)

In [106]:
#numerical derviations and converations
#replace the month in the term column and replace with null value
loan_df['term_month']=loan_df.term.apply(lambda x:x.replace(' months','')).astype('int')
#remove the interest rate percentage and convert to float
loan_df['int_rate_per']=pd.Series(loan_df['int_rate']).str.replace('%','').astype(float)
#remove the interest rate percentage and convert to float
loan_df["revol_util_per"] = pd.Series(loan["revol_util"]).str.replace("%", "").astype(float)

In [107]:
#categorical derviations and converations
loan_df['grade']=loan_df['grade'].astype("category") #converting grade to category
loan_df['sub_grade']=loan_df['sub_grade'].astype("category") #converting grade to category
loan_df['purpose']=loan_df['purpose'].astype("category") #converting grade to category

In [108]:
#date conversations
loan['issue_d']

0        Dec-11
1        Dec-11
2        Dec-11
3        Dec-11
4        Dec-11
          ...
39712    Jul-07
39713    Jul-07
39714    Jul-07
39715    Jul-07
39716    Jun-07
Name: issue_d, Length: 39717, dtype: object

In [109]:
#columns which are important
loan_df[['term','term_month','int_rate','int_rate_per','grade','sub_grade','purpose','dti','emp_length','issue_d']]

,term,term_month,int_rate,int_rate_per,grade,sub_grade,purpose,dti,emp_length,issue_d
0,36 months,36,10.65%,10.65,B,B2,credit_card,27.65,10+ years,Dec-11
1,60 months,60,15.27%,15.27,C,C4,car,1.00,< 1 year,Dec-11
2,36 months,36,15.96%,15.96,C,C5,small_business,8.72,10+ years,Dec-11
3,36 months,36,13.49%,13.49,C,C1,other,20.00,10+ years,Dec-11
4,60 months,60,12.69%,12.69,B,B5,other,17.94,1 year,Dec-11
...,...,...,...,...,...,...,...,...,...,...
39712,36 months,36,8.07%,8.07,A,A4,home_improvement,11.33,4 years,Jul-07
39713,36 months,36,10.28%,10.28,C,C1,credit_card,6.40,3 years,Jul-07
39714,36 months,36,8.07%,8.07,A,A4,debt_consolidation,2.30,< 1 year,Jul-07
39715,36 months,36,7.43%,7.43,A,A2,other,3.72,< 1 year,Jul-07
39716,36 months,36,13.75%,13.75,E,E2,debt_consolidation,14.29,< 1 year,Jun-07

In [34]:
#options to set the maximum rows.
pd.set_option('max_rows',1111)
loan_df.dtypes

id                                   int64
member_id                            int64
loan_amnt                            int64
funded_amnt                          int64
funded_amnt_inv                    float64
term                                object
int_rate                            object
installment                        float64
grade                             category
sub_grade                         category
emp_title                           object
emp_length                          object
home_ownership                      object
annual_inc                         float64
verification_status                 object
issue_d                             object
loan_status                         object
pymnt_plan                          object
url                                 object
desc                                object
purpose                           category
title                               object
zip_code                            object
addr_state                          object
dti                                float64
delinq_2yrs                          int64
earliest_cr_line                    object
inq_last_6mths                       int64
mths_since_last_delinq             float64
mths_since_last_record             float64
open_acc                             int64
pub_rec                              int64
revol_bal                            int64
revol_util                          object
total_acc                            int64
initial_list_status                 object
out_prncp                          float64
out_prncp_inv                      float64
total_pymnt                        float64
total_pymnt_inv                    float64
total_rec_prncp                    float64
total_rec_int                      float64
total_rec_late_fee                 float64
recoveries                         float64
collection_recovery_fee            float64
last_pymnt_d                        object
last_pymnt_amnt                    float64
next_pymnt_d                        object
last_credit_pull_d                  object
collections_12_mths_ex_med         float64
mths_since_last_major_derog        float64
policy_code                          int64
application_type                    object
annual_inc_joint                   float64
dti_joint                          float64
verification_status_joint          float64
acc_now_delinq                       int64
tot_coll_amt                       float64
tot_cur_bal                        float64
open_acc_6m                        float64
open_il_6m                         float64
open_il_12m                        float64
open_il_24m                        float64
mths_since_rcnt_il                 float64
total_bal_il                       float64
il_util                            float64
open_rv_12m                        float64
open_rv_24m                        float64
max_bal_bc                         float64
all_util                           float64
total_rev_hi_lim                   float64
inq_fi                             float64
total_cu_tl                        float64
inq_last_12m                       float64
acc_open_past_24mths               float64
avg_cur_bal                        float64
bc_open_to_buy                     float64
bc_util                            float64
chargeoff_within_12_mths           float64
delinq_amnt                          int64
mo_sin_old_il_acct                 float64
mo_sin_old_rev_tl_op               float64
mo_sin_rcnt_rev_tl_op              float64
mo_sin_rcnt_tl                     float64
mort_acc                           float64
mths_since_recent_bc               float64
mths_since_recent_bc_dlq           float64
mths_since_recent_inq              float64
mths_since_recent_revol_delinq     float64
num_accts_ever_120_pd              float64
num_actv_bc_tl                     float64
num_actv_rev_tl                    float64
num_bc_sats                        float64
num_bc_tl                          float64
num_il_tl                          float64
num_op_rev_tl                      float64
num_rev_accts                      float64
num_rev_tl_bal_gt_0                float64
num_sats                           float64
num_tl_120dpd_2m                   float64
num_tl_30dpd                       float64
num_tl_90g_dpd_24m                 float64
num_tl_op_past_12m                 float64
pct_tl_nvr_dlq                     float64
percent_bc_gt_75                   float64
pub_rec_bankruptcies               float64
tax_liens                          float64
tot_hi_cred_lim                    float64
total_bal_ex_mort                  float64
total_bc_limit                     float64
total_il_high_credit_limit         float64
term_month                           int64
int_rate_per                       float64
revol_util_per                     float64
dtype: object

## missing values

In [122]:
### percentage of missing values
pd.set_option('max_rows',1111)
print(loan_df.shape)
total = loan_df.isnull().sum().sort_values(ascending=False)
percent = (round(loan_df.isnull().sum()/loan_df.isnull().count(),4)*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(200)

(39717, 42)

                         Total  Percent
emp_title                 2459     6.19
emp_length                1075     2.71
pub_rec_bankruptcies       697     1.75
last_pymnt_d                71     0.18
revol_util_per              50     0.13
revol_util                  50     0.13
last_credit_pull_d           2     0.01
total_rec_prncp              0     0.00
total_acc                    0     0.00
out_prncp                    0     0.00
out_prncp_inv                0     0.00
total_pymnt                  0     0.00
total_pymnt_inv              0     0.00
recoveries                   0     0.00
total_rec_int                0     0.00
total_rec_late_fee           0     0.00
pub_rec                      0     0.00
collection_recovery_fee      0     0.00
last_pymnt_amnt              0     0.00
term_month                   0     0.00
int_rate_per                 0     0.00
revol_bal                    0     0.00
loan_amnt                    0     0.00
funded_amnt                  0     0.00
annual_inc                   0     0.00
funded_amnt_inv              0     0.00
term                         0     0.00
int_rate                     0     0.00
installment                  0     0.00
grade                        0     0.00
sub_grade                    0     0.00
home_ownership               0     0.00
verification_status          0     0.00
inq_last_6mths               0     0.00
issue_d                      0     0.00
loan_status                  0     0.00
purpose                      0     0.00
addr_state                   0     0.00
dti                          0     0.00
delinq_2yrs                  0     0.00
earliest_cr_line             0     0.00
open_acc                     0     0.00

In [ ]:
# loan_df['application_type'].unique()
# loan_df['policy_code'].unique()
# loan_df['pymnt_plan'].unique()
loan_df['initial_list_status'].unique()

In [ ]:
#dropping every column which contains completely null value or Null column
loan_df.drop(['mths_since_last_major_derog','annual_inc_joint','dti_joint','verification_status_joint',
              'tot_coll_amt','tot_cur_bal','open_acc_6m','open_il_6m','open_il_12m','open_il_24m',
              'mths_since_rcnt_il','total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc',
              'all_util','total_rev_hi_lim','inq_fi', 'total_cu_tl','inq_last_12m','acc_open_past_24mths',
              'avg_cur_bal','bc_open_to_buy','bc_util','mo_sin_old_il_acct',
              'mo_sin_old_rev_tl_op','mo_sin_rcnt_rev_tl_op','mo_sin_rcnt_tl','mort_acc','mths_since_recent_bc',
              'mths_since_recent_bc_dlq','mths_since_recent_inq','mths_since_recent_revol_delinq',
              'num_accts_ever_120_pd','num_actv_bc_tl','num_actv_rev_tl','num_bc_sats','num_bc_tl','num_il_tl','num_op_rev_tl',
              'num_rev_accts','num_rev_tl_bal_gt_0','num_sats','num_tl_120dpd_2m','num_tl_30dpd','num_tl_90g_dpd_24m',
              'num_tl_op_past_12m', 'pct_tl_nvr_dlq','percent_bc_gt_75','tot_hi_cred_lim','total_bal_ex_mort','total_bc_limit',
              'total_il_high_credit_limit'], axis=1, inplace=True)
#dropping every column which contains either zero or null.
loan_df.drop(['tax_liens','delinq_amnt','chargeoff_within_12_mths','acc_now_delinq','collections_12_mths_ex_med']
            , axis=1, inplace=True)
#dropping every column application_type,policy_code,pymnt_plan,initial_list_status 
#which contains 'INDIVIDUAL','1','n','f'
loan_df.drop(['pymnt_plan','policy_code','application_type','initial_list_status'],axis=1, inplace=True)
#Dropping columns that are not required
loan_df.drop(['url','desc','title', 'zip_code', 'id', 'member_id'], axis=1, inplace=True)
# Also removing these rows as more than 60-90% of columns are NA
loan_df.drop(['next_pymnt_d','mths_since_last_record','mths_since_last_delinq'], axis=1, inplace=True)

In [131]:
#checking the above deletions columns are not applicable
print(loan_df.shape)
loan_df.isnull().sum().sort_values(ascending=False)

(39717, 42)

emp_title                  2459
emp_length                 1075
pub_rec_bankruptcies        697
last_pymnt_d                 71
revol_util_per               50
revol_util                   50
last_credit_pull_d            2
total_rec_prncp               0
total_acc                     0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
recoveries                    0
total_rec_int                 0
total_rec_late_fee            0
pub_rec                       0
collection_recovery_fee       0
last_pymnt_amnt               0
term_month                    0
int_rate_per                  0
revol_bal                     0
loan_amnt                     0
funded_amnt                   0
annual_inc                    0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
verification_status           0
inq_last_6mths                0
issue_d                       0
loan_status                   0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
open_acc                      0
dtype: int64

In [132]:
#columns which are important
loan_df[['term','term_month','int_rate','int_rate_per','grade','sub_grade','purpose','dti','emp_length','issue_d']]
# loan_df.info()

,term,term_month,int_rate,int_rate_per,grade,sub_grade,purpose,dti,emp_length,issue_d
0,36 months,36,10.65%,10.65,B,B2,credit_card,27.65,10+ years,Dec-11
1,60 months,60,15.27%,15.27,C,C4,car,1.00,< 1 year,Dec-11
2,36 months,36,15.96%,15.96,C,C5,small_business,8.72,10+ years,Dec-11
3,36 months,36,13.49%,13.49,C,C1,other,20.00,10+ years,Dec-11
4,60 months,60,12.69%,12.69,B,B5,other,17.94,1 year,Dec-11
...,...,...,...,...,...,...,...,...,...,...
39712,36 months,36,8.07%,8.07,A,A4,home_improvement,11.33,4 years,Jul-07
39713,36 months,36,10.28%,10.28,C,C1,credit_card,6.40,3 years,Jul-07
39714,36 months,36,8.07%,8.07,A,A4,debt_consolidation,2.30,< 1 year,Jul-07
39715,36 months,36,7.43%,7.43,A,A2,other,3.72,< 1 year,Jul-07
39716,36 months,36,13.75%,13.75,E,E2,debt_consolidation,14.29,< 1 year,Jun-07

## data imputations required

In [129]:
loan_df['emp_title'] #SELF_EMPLOYED
loan_df['emp_length'] #NOT_KNOWN
loan_df['pub_rec_bankruptcies'] #'-1' ## No Data
loan_df['last_credit_pull_d'] #NO_DATA
loan_df['last_pymnt_d'] #NO_DATA
loan_df['revol_util'] #0

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
39712    NaN
39713    NaN
39714    NaN
39715    NaN
39716    NaN
Name: pub_rec_bankruptcies, Length: 39717, dtype: float64

# Data analysis